[Unit]
Description=New York Times

[Service]
ExecStart=/home/root/bin/renews.arm \
    -output /usr/share/remarkable/suspended.png \
    -verbose \
    -cooldown COOLDOWN \
    -url http://192.168.0.7:8080/jenny/image.png \
    -mode center
Restart=always

[Install]
WantedBy=multi-user.target
