[Unit]
Description=Local photo server
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/root/bin/renews.sh
